annotated-types==0.7.0
datascience==0.17.6
fastjsonschema==2.21.1
geopandas==1.0.1
GitPython==3.1.44
google-colab @ file:///colabtools/dist/google_colab-1.0.0.tar.gz
huggingface-hub==0.30.1
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipytree==0.2.2
ipywidgets==7.7.1
jeepney==0.7.1
jellyfish==1.1.0
jieba==0.42.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kaggle==1.7.4.2
kagglehub==0.3.11
keras==3.8.0
keras-hub==0.18.1
keras-nlp==0.18.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
nbclassic==1.2.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nltk==3.9.1
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.28.0
pandas-stubs==2.2.2.240909
param==2.2.0
pathlib==1.0.1
PyJWT==2.10.1
pytensor==2.30.2
python-apt==0.0.0
python-box==7.3.2
python-dateutil==2.8.2
python-louvain==0.16
python-slugify==8.0.4
python-snappy==0.7.3
python-utils==3.9.1
regex==2024.11.6
Sastrawi==1.0.1
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
sklearn-compat==0.1.3
sklearn-pandas==2.2.0
snowballstemmer==2.2.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.8
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.0
tensorflow-probability==0.25.0
tensorflow-text==2.18.1
tf-slim==1.1.0
tf_keras==2.18.0
tokenizers==0.21.1
transformers==4.50.3
wordcloud==1.9.4
streamlit
